# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
NEC-PCE-IFU-30_MAIN_PCB/NEC-PCE-IFU-30_MAIN_PCB-backups
NEC-PCE-IFU-30_RAM_PCB/NEC-PCE-IFU-30_RAM_PCB-backups

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# no layout
NEC-PCE-IFU-30_MAIN_PCB.kicad_pcb
NEC-PCE-IFU-30_RAM_PCB.kicad_pcb

# duplicate libraries in individual projects
NEC-PCE-IFU-30_MAIN_PCB/libs
NEC-PCE-IFU-30_RAM_PCB/libs

